# Node.js
node_modules/

# .env file
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files (macOS, Windows, etc)
.DS_Store
Thumbs.db

# IDE files (VS Code, WebStorm, etc)
.vscode/
.idea/

# Build output (if any)
dist/
build/

# Firebase / Google Services
google-services.json
service-account.json

